html {
  font-family: Roboto, sans-serif;
  font-size: 18px;
}
h1 {
  word-spacing: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 32px;
}
p {
  line-height: 28px;
  margin: 32px;
  padding: 0;
}
.technolegy {
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 24px;
  opacity: 80%;
  text-decoration: underline;
}
a {
  text-decoration: none;
}
em {
  color: gray;
}
